Medical Insurance Project

In this project we want to find average age, average cost by location, comparing the average cost for smokers and non-smokers
average price for people with children compared to people with no children, checking for bias within the dataset using Python

In [351]:
import csv
import pandas as pd

Find the Average the people in our dataset

In [353]:
medical_insurance_df = pd.read_csv('insurance.csv')
medical_insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Checking for bias in our dataset

In [355]:
number_of_women = medical_insurance_df['sex'].tolist().count('female')
number_of_men = medical_insurance_df['sex'].tolist().count('male')

print(f'The number of women is: {number_of_women}')
print(f'The number of men is: {number_of_men}')

The number of women is: 662
The number of men is: 676

Average age

In [357]:
#create a variable to store the formula for average age

average_age = medical_insurance_df['age'].mean().round(0)

print(f"The average age of the people in our dataset is: {average_age} years old")

The average age of the people in our dataset is: 39.0 years old

Average cost for men and women

In [359]:
average_cost_women = medical_insurance_df[medical_insurance_df['sex'] == 'female']['charges'].mean().round(0)
average_cost_men = medical_insurance_df[medical_insurance_df['sex'] == 'male']['charges'].mean().round(0)

print(f'The average cost for women is: {average_cost_women}')
print(f'The average cost for men is: {average_cost_men}')

The average cost for women is: 12570.0
The average cost for men is: 13957.0

Find the average cost by location

In [361]:
average_cost_by_location = medical_insurance_df.groupby('region')['charges'].mean().round(0)
print(average_cost_by_location)

print('The highest insurance price is for the northwest')

region
northeast    13406.0
northwest    12418.0
southeast    14735.0
southwest    12347.0
Name: charges, dtype: float64
The highest insurance price is for the northwest

Insurance cost for smokers vs. non smokers

In [363]:
average_cost_smokers = medical_insurance_df[medical_insurance_df['smoker'] == 'yes']['charges'].mean().round(0)
average_cost_non_smokers = medical_insurance_df[medical_insurance_df['smoker'] == 'no']['charges'].mean().round(0)

difference = average_cost_smokers - average_cost_non_smokers

print(f"average insurance cost for smokers  is: {average_cost_smokers}")
print(f"average insurance cost for non-smokers is:{average_cost_non_smokers}")
print(f"The difference between smokers and non-smokers is:{difference}")

average insurance cost for smokers  is: 32050.0
average insurance cost for non-smokers is:8434.0
The difference between smokers and non-smokers is:23616.0

people with children vs no children

In [365]:
average_cost_with_children = (lambda medical_insurance_df: medical_insurance_df[medical_insurance_df['children'] > 0]['charges'].mean().round(0))(medical_insurance_df)
average_cost_with_no_children = (lambda medical_insurance_df: medical_insurance_df[medical_insurance_df['children'] == 0]['charges'].mean().round(0))(medical_insurance_df)

print(f"the average cost for people with children is: {average_cost_with_children}")

print(f"the average cost for people with children is: {average_cost_with_no_children}")

difference_in_cost = average_cost_with_children - average_cost_with_no_children
print(f"The difference in cost between people with children and no children is:{difference_in_cost}")

the average cost for people with children is: 13950.0
the average cost for people with children is: 12366.0
The difference in cost between people with children and no children is:1584.0